<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Test</title>
</head>
<body>
    <div>
        <label for="client_id">Client ID:</label>
        <input type="text" id="client_id" placeholder="Enter your client ID">
        <button onclick="connectWebSocket()">Connect</button>
    </div>

    <div>
        <h2>Connected Users</h2>
        <ul id="userList"></ul>
    </div>

    <div>
        <h2>Chat</h2>
        <div id="chatBox" style="height: 200px; border: 1px solid #ccc; overflow: auto;"></div>
        <input type="text" id="messageInput" placeholder="Type your message">
        <button onclick="sendMessage()">Send</button>
    </div>

    <script>
        let clientID;
        let socket;

        function connectWebSocket() {
            clientID = document.getElementById('client_id').value;
            socket = new WebSocket(`ws://127.0.0.1:8000/ws/lobby/?client_id=${clientID}`);

            socket.onopen = function (event) {
                console.log("WebSocket connection opened:", event);
                getListOfUsers();
            };

            socket.onmessage = function (event) {
                const data = JSON.parse(event.data);
                console.log("Received message:", data);

                if (data.action === 'list_users') {
                    updateListOfUsers(data.message);
                } else if (data.action === 'chat_message') {
                    displayChatMessage(data.sender, data.message);
                }
            };

            socket.onclose = function (event) {
                console.log("WebSocket connection closed:", event);
            };
        }

        function getListOfUsers() {
            setInterval(function () {
                const message = { type: 'send_message', data: { action: 'get_list_users', data: '' } };
                socket.send(JSON.stringify(message));
            }, 5000);
        }

        function updateListOfUsers(users) {
            const userList = document.getElementById('userList');
            userList.innerHTML = users.map(user => `<li>${user}</li>`).join('');
        }

        function sendMessage() {
            const messageInput = document.getElementById('messageInput');
            const message = messageInput.value;

            const messageData = { type: 'send_message', data: { action: 'chat_message', message: message } };
            socket.send(JSON.stringify(messageData));

            messageInput.value = '';
        }

        function displayChatMessage(sender, message) {
            const chatBox = document.getElementById('chatBox');
            chatBox.innerHTML += `<p><strong>${sender}:</strong> ${message}</p>`;
            chatBox.scrollTop = chatBox.scrollHeight; // Scroll to the bottom
        }
    </script>
</body>
</html>
