.tournament-div {
	margin: 0;
	background: url('../assets/imgs/tournament-background.svg') center center no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

.tournaments-box {
	border: solid 4px #FBD793;
	background: linear-gradient(180deg, rgba(25, 26, 50, 0.73) 0%, rgba(25, 26, 50, 0.55) 75.27%, rgba(25, 26, 50, 0.00) 92.64%);
}