h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	color: white;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-family: 'VT323', monospace;
	background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar {
	width: 0 !important;
}

h1 {
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

h2 {
	font-size: 3.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

h3 {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 0.75rem;
}

h4 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 0.75rem;
}

h5 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

h6 {
	font-size: 1.75rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

p {
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}
/*
.container-fluid {
	padding: 0;
	margin: 0;
}*/

/* Navbar */
.navbar-logged-pong {
	display: flex;
    justify-content: space-between; /* Aligns items to the far ends */
	position: fixed; /* Keeps the navbar fixed at the top */
    top: 0; /* Aligns the navbar to the top of the viewport */
    left: 0; /* Aligns the navbar to the left of the viewport */
    right: 0; /* Ensures the navbar extends to the right edge of the viewport */
    z-index: 11; /* Ensures the navbar stays on top of other elements */
    width: 97% !important;
    height: 60px !important;
    border-radius: 68px !important;
    background: #15142E !important; /* Solid background color */
    color: #ffffff !important;
    border: none !important;
    background-clip: padding-box !important;
    transition: border-color 0.2s ease-in-out !important;
    margin: auto !important;
    margin-top: 15px !important; /* Adjust this value to increase or decrease the top space */
}
/* Custom styles for collapsed navbar and dropdown background color */
@media (max-width: 1200px) {
	.navbar-nav .nav-link {
		color: white !important; /* Set the color of the navigation links in the dropdown */
	}
	.nav-item {
		margin-right: 0px;
	}
	.navbar-nav .nav-link:hover,
	.navbar-nav .nav-link:focus {
	  background-color: black; /* Set the background color of the hovered/focused navigation links in the dropdown */
	  color: white !important;
	}
	.nav-expanded {
		margin-top: 12px;
	}
}

@media (min-width: 1200px) {
	.nav-item {
		margin-right: 80px;
	}
}


.pm0 {
	padding: 0!important;
	margin: 0!important;
}

.mt-5r {
	margin-top: 5rem;
}

.mt-10r {
	margin-top: 10rem;
}

.nav-link {
    padding: 5px 10px; /* Add padding to make each link larger and more clickable */
}

.nav-link-logged-pong {
    padding: 5px 10px; /* Similar to .nav-link, adjust as needed */
    color: #ffffff !important;
}

.accept-btn {
    color: #28a745; /* Green color for the accept button */
    background-color: transparent; /* Remove background */
    border: none; /* Remove border */
  }

.reject-btn {
    color: #dc3545; /* Red color for the reject button */
    background-color: transparent; /* Remove background */
    border: none; /* Remove border */
}

.accept-btn i,
.reject-btn i {
    margin-right: 5px; /* Adjust as needed */
}

.match-history-container {
    max-width: 500px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ffffff;
    padding: 10px;
    margin-bottom: 30px; /* Add margin at the bottom */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.match-history-container::-webkit-scrollbar {
    display: none;
}

/* Optional: Add scrollbar styles for Firefox and Edge if needed */
.match-history-container {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* scrollbar color and track color */
}

.user-info-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #15142E;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
	color: #000; /* Set text color to black */
	border-radius: 0.375rem;
	border-color: aqua;
	border: 1cm;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1000; /* Ensure the overlay is on top of other elements */
    display: none; /* Initially hide the overlay */
}
