<nav class="navbar navbar-expand-xl navbar-light bg-light navbar-logged-pong" id="navbar-logged-pong-id">
	<img src="./srcs/assets/imgs/logo-web.png" alt="" width="28" height="auto" class="ms-3" />

	<div style="max-height: 100%" class="d-flex align-items-center">
		<!-- <a class="nav-link-logged-pong d-block d-xl-none" onclick="navigateToProfile()" style="cursor: pointer; text-decoration: none;"> -->
		<a id="usernameNav" class="nav-link-logged-pong d-block d-xl-none" href="/profile" style="cursor: pointer; text-decoration: none;">
			<!-- <div class="d-flex align-items-center"> -->
				<img src="./srcs/assets/imgs/default-avatar.jpeg" id="avatarImageNav" alt="Avatar" class="img-fluid" style="max-width: 40px" />
				<!-- <p id="usernameNav" style="margin: 0; font-size: 19px; padding-left: 1rem;">username</p> -->
				username
			<!-- </div> -->
		</a>
	</div>

	<button class="navbar-toggler me-4 ms-auto navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse rounded nav-expanded" id="navbarSupportedContent" style="background: #15142e !important">
		<div class="mx-auto d-flex align-items-center" id="navContentClass">
			<ul class="navbar-nav" style="font-size: 1.75rem">
				<li class="nav-item">
					<a class="nav-link nav-link-logged-pong" href="/play!">Play!</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-link-logged-pong" href="/tournaments">Tournaments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-link-logged-pong" data-bs-toggle="modal" data-bs-target="#friendsModal">
						<img src="./srcs/assets/imgs/friends-icon.svg" alt="Friends" class="img-fluid" style="max-width: 29px; cursor: pointer" id="nav-friends-icon" />
					</a>
				</li>
				<li class="nav-item position-relative">
					<a href="" class="nav-link nav-link-logged-pong" data-bs-toggle="modal" data-bs-target="#notificationsModal">
						<i class="bi bi-bell position-relative">
							<span class="position-absolute bottom-0 translate-middle badge rounded-pill bg-danger" style="font-size: 0.8rem; color: white !important" id="nav-notification-bell-span"></span>
						</i>
					</a>
				</li>
				<li class="nav-item">
					<button class="nav-link nav-link-logged-pong" id="logoutButton" style="margin: auto; width: 100%">Logout</button>
				</li>
			</ul>

			<a id="usernameNav2" class="nav-link-logged-pong d-flex align-items-center d-none d-xl-block" href="/profile" style="cursor: pointer; text-decoration: none;">
				<!-- <div class="d-flex align-items-center"> -->
					<!-- <p id="usernameNav2"  style="margin: 0; font-size: 19px; padding-right: 1rem;">username</p> -->
					username
					<img src="./srcs/assets/imgs/default-avatar.jpeg" id="avatarImageNav2" alt="Avatar" class="img-fluid" style="max-width: 40px" />
				<!-- </div> -->
			</a>
		</div>
	</div>

	<img src="./srcs/assets/imgs/logo-web.png" alt="" width="28" height="auto" class="me-3" id="rightNavBall" />
</nav>

<!-- Friends Modal -->
<div class="modal fade" id="friendsModal" tabindex="-1" aria-labelledby="friendsModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="background: #191f38; border: 5px solid #fffeee">
			<div class="modal-header justify-content-center">
				<div class="col">
					<div class="row">
						<h5 class="modal-title" id="friendsModalLabel" style="color: rgb(148, 186, 133);">Online 0</h5>
					</div>
				</div>
				<button type="button" class="btn-close btn-close-white btn-friends-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="modal-body-friends">
				<div id="modal-body-friends-list" style="text-align: center;">
					<div class="text-center my-2">
						<div>
							<button class="btn" style="background: white; color: #4ca2bb" id="friendsModalInvite">Add Friend</button>
						</div>
					</div>
					<p class="text-decoration-underline">Friends list</p>
					<div id="friends-list"></div>
					<p class="text-decoration-underline mt-5">Friends invitations</p>
					<div id="friends-invitation-list"></div>
					<!-- <p class="text-decoration-underline mt-5">Pendind Match invitations...</p> -->
					<div id="match-invitation-list"></div>
				</div>
				<div id="modal-body-friends-invite" style="display: none;">
					<div class="text-center">
						<div class="mt-2"><input type="text" id="invitationInput" placeholder="Username" /></div>
						<div class="mt-3"><button id="sendInvitationBtn" class="btn btn-success" style="background-color: #4ca2bb;">Send Invitation</button></div>
					</div>
					<div class="text-center">
						<button class="btn" id="back-modal-btn">
							<i class="bi bi-arrow-return-left" style="font-size: 1.5em; color: white"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Notifications Modal -->
<div class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="notificationsModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="background: #191f38; border: 5px solid #fffeee">
			<div class="modal-header justify-content-center">
				<h5 class="modal-title">Notifications</h5>
				<button type="button" class="btn-close btn-close-white btn-notifications-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="modal-body-notifications">
				<div id="notifications-list"></div>
			</div>
		</div>
	</div>
</div>
