.image-container {
	background: url('../../assets/imgs/signup.png') center center/cover;
	height: 100vh;
	width: "100%";
}

.btn img {
    width: auto; /* or a specific width in pixels */
    height: auto; /* or a specific height in pixels */
    max-width: 30%; /* to ensure it's responsive */
}

.input-signup {
	border: 5px solid white !important;
	background-color: #142d49 !important;
}

.input-signup:not(:focus),
.input-signup:focus,
.input-signup::placeholder {
	color: white !important;
}

.input-signup::placeholder {
	opacity: 0.7 !important;
}


.input-group-signup {
	border: 5px solid white !important;
	background-color: #142d49 !important;
}

.input-group-signup input {
	background-color: #142d49 !important;
	border: 0;
}

.input-group-signup input:not(:focus),
.input-group-signup input:focus,
.input-group-signup input::placeholder {
	color: white !important;
}

.input-group-signup input::placeholder {
	opacity: 0.7 !important;
}