asgiref==3.7.2
Django==3.2.23
django-cors-headers==4.1.0
djangorestframework==3.14.0
passlib==1.7.4
Pillow==9.5.0
psycopg2-binary==2.9.9
pyotp==2.9.0
pypng==0.20220715.0
pytz==2023.3.post1
qrcode==7.4.2
sqlparse==0.4.4
typing_extensions==4.7.1
