.landing-div {
	cursor: none;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Style the image inside the container */
.landing-div img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	/* This maintains aspect ratio and fits the container */
	/* border: 20px solid #000000;
	/* Adjust the frame thickness and color as needed */
}

.fade-out {
	opacity: 0;
	transition: opacity 0.7s ease;
	/* Adjust time as needed */
}