.landing-div {
  cursor: none;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the image inside the container */
.landing-div img {
	width: 100%;
	max-height: 100%;
  object-fit: cover;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.7s ease;
}
