<div class="justify-content-center text-center pt-5 tournament-div">
  <h2>Tournaments</h2>
  <div class="col-md-6 mt-2 tournaments-box mx-auto">
    <div id="tournaments"></div>

    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Create a Tournament
    </button>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black" id="exampleModalLabel">
            Create a Tournament
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form id="createTornForm">
          <div class="modal-body">
            <div class="form-group">
              <label for="nameTournament">The name</label>
              <input
                type="text"
                class="form-control"
                id="nameTournament"
                placeholder="Enter a name"
              />
            </div>
            <div class="form-group">
              <label for="dateTournament">The date</label>
              <input
                type="datetime-local"
                class="form-control"
                id="dateTournament"
                placeholder="Enter a date"
              />
            </div>
            <div class="form-group">
              <label for="endTournament">The end date</label>
              <input
                type="datetime-local"
                class="form-control"
                id="endTournament"
                placeholder="Enter a date"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              ata-bs-dismiss="modal"
              aria-label="Close"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
