<div class="home-div">
<div class="d-flex justify-content-around mx-auto" style="padding-top: 30vh; width: 80%;">
      <button type="button" class="btn" onclick="window.location.href='/signup'">
        <img src="../assets/buttons/signin.svg" alt="" class="img-fluid">
      </button>
      <button type="button" class="btn" id="intra">
        <img src="../assets/buttons/42-signin.svg" alt="" class="img-fluid">
      </button>
      <button type="button" class="btn" onclick="window.location.href='/login'">
        <!-- <img src="../assets/buttons/42-signin.svg" alt="" class="img-fluid"> -->
		Login
      </button>
  </div>
</div>