<div class="row" style="min-height: 85vh;">
  <div class="col-md-8 form-container">
    <div class="row justify-content-center text-center">
      <h3>LOGIN</h3>
      <div class="mt-5">
        <button class="btn btn-primary" id="intra">login intra</button>
      </div>
    </div>
    <div class="col-md-6 mt-5 mx-auto text-white">
      <form id="loginForm">
        <div class="form-group">
          <label for="usernameLoginForm" class="form-label">Username</label>
          <input
            type="text"
            class="form-control input-signup"
            name="usernameLoginForm"
            id="usernameLoginForm"
            placeholder="Enter your username"
            autocomplete="off"
          />
          <div class="invalid-feedback" id="usernameHelp"></div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <div class="input-group input-group-signup">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Enter your password"
              required
            />
            <span
              class="input-group-text bg-transparent text-white border-0"
              id="eyeIcon"
            >
              <i class="bi bi-eye" id="togglePassword"></i>
            </span>
          </div>
          <div class="invalid-feedback" id="passwordHelp"></div>
        </div>

        <div
          class="alert alert-danger"
          id="errorAlert"
          style="display: none"
        ></div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <h4 mt-5>Dont have an account? <a href="/signup">Signup</a></h4>
    </div>
  </div>
  <div class="col-md-4 image-container"></div>
</div>
