<!-- <nav class="navbar navbar-light bg-light" id="nav-logged">
  <div class="container-fluid">
    <div class="navbar-text">
      <span id="username-nav"></span>
    </div>

    <ul class="navbar-nav d-flex">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user">User</a>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="logoutButton">Logout</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create-tournaments">Tournament</a>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-logged-pong">
  <div class="container">
    <img src="../assets/imgs/pong-logo.svg" alt="" width="30" height="24">
    <!-- <a class="navbar-brand nav-link-logged-pong" href="#">Logo</a> -->
    <div class="mx-auto d-flex align-items-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link nav-link-logged-pong" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-logged-pong" href="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-logged-pong" href="/create-tournaments">Tournament</a>
        </li>
        <li class="nav-item">
          <button class="nav-link nav-link-logged-pong" id="logoutButton">Logout</button>
        </li>
      </ul>
    </div>

    <a href="/user" class="nav-link-logged-pong d-flex align-items-center">
      <span id="usernameNav" style="margin-right: 1rem;">username</span>
      <img src="../assets/imgs/default-avatar.jpeg" id="avatarImageNav" alt="Avatar" class="img-fluid" style="max-width: 40px;">
    </a>
    
    <img src="../assets/imgs/pong-logo.svg" alt="" width="30" height="24">

  </div>
</nav>
