<nav class="navbar navbar-light bg-light" id="nav-anonymus">
  <div class="container-fluid">
    <!-- Left-aligned content (username) -->
    <div class="navbar-text">
      <span id="username">Your Username</span>
    </div>

    <ul class="navbar-nav d-flex">
      <li class="nav-item">
        <a class="nav-link" href="/">Landing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/callback">Callback</a>
      </li>
    </ul>
  </div>
</nav>
