


<div style="margin-top: 6rem;">
    <div class="text-center">
        <img src="../assets/imgs/default-avatar.jpeg" alt="" srcset="" id="avatarImage" style="width: 125px;"> 
        <h3 id="user-username">Usermae</h3>

        <a href="/user-settings" class="btn bg-white">
          Profile Settings
      </a>       

        <h3 style="margin-top: 6rem;">Your Stats</h3>
    </div>

    <div class="container mt-5">
        <div class="row">
          <div class="col-3 border-white" style="border-right: solid;">
            <p class="text-center">Word1</p>
          </div>
          <div class="col-3 border-white" style="border-right: solid;">
            <p class="text-center">Word2</p>
          </div>
          <div class="col-3 border-white" style="border-right: solid;">
            <p class="text-center">Word3</p>
          </div>
          <div class="col-3">
            <p class="text-center">Word4</p>
          </div>
        </div>
      </div>

</div>