

<!-- <h2>Update Avatar</h2> -->
<!-- <form id="updateAvatarForm" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="avatar" class="form-label">Choose Avatar</label>
        <input type="file" class="form-control" id="avatar" name="avatar" accept="image/*" required>
        <div id="avatarMsg"></div>
    </div>
    <button type="submit" class="btn btn-primary" id="updateAvatarBtn">Update Avatar</button>
</form>
-->

<div>
	<div class="col-md-3">
		<h2>ho</h2>
		<button class="btn bg-white" onclick="window.location.href='/user'">
			Back to profile
		</button>
	</div>
	<div class="col-md-9">
	</div>

</div>